.bookItem
  display inline-block
  min-width 260px
  min-height 110px
  border-radius 3px
  padding 20px 14px 10px
  margin 10px
  line-height 24px
  &-plink
    margin-left 4px
  &-author
    font-weight bolder
  &-caption
    text-decoration none
    color inherit
    &:hover
      text-decoration underline
