.bookItem
  display inline-block
  min-width 164px
  border-radius 3px
  border 1px solid #606060
  padding 8px 14px
  &-author
    font-weight bolder
  &-caption
    text-decoration none
    color inherit
    &:hover
      text-decoration underline
