.bookTag
  display inline-block
  font-size 11px
  height 17px
  padding 0 5px
  margin-right 3px
  background-color wheat
  border-radius 10px
  max-width 100px
  color #606060
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

  &_inCard
    max-width 30px
  &_important
    color red
