doctype html
html(lang="en")
  head
    title bookangeles
    //script(type='text/javascript')
  body
    h1 Hello
    p Welcome to Book Angeles. You can create and organize your digital library online.
