doctype html
html(lang="en")
  head
    title bookangeles
    link(rel='stylesheet' href='//127.0.0.1:3001/compiled/spa.css')
    
  body
    h1 Book Angeles
    p Welcome to Book Angeles. You can create and organize your digital library online.
    div#content You won't see this
    script(type='text/javascript' src='//127.0.0.1:3001/compiled/spa.js')
