doctype html
html(lang="en")
  head
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,100', rel='stylesheet', type='text/css')
    title bookangeles
    link(rel='stylesheet' href='/compiled/spa.css')
  body
    #spa
    script(type='text/javascript' src='/compiled/spa.js')
